/*Document settings*/
.container {
    padding: 10px;
}

/* used to dynamically hide elements*/
.hide {
    display: none;
}

.icon {
    position: relative;
    top: 3px;
}

/*Intro*/

/*Navbar*/
#placeholderNav {
    height: 52px;
}
/*Trailer*/

/*Gallery*/

#gallery img {
    border-radius: 5px;
}

/*Destinations*/

/*Team*/

/*Destinations*/

/*Blog*/

/*Contact*/
#contact {
    background-color: #00d1b2
}
