/*Document settings*/

.container {
    padding: 10px;
}

/* used to dynamically hide elements*/

.hide {
    display: none;
}

.icon {
    position: relative;
    top: 3px;
}

/* used to align page correctly, so section titles are not
hidden behind navbar */

.offset-anchor {
    display: block;
    position: relative;
    top: -52px;
}

/*Intro*/
#intro .icon {
    position: relative;
    left: 30px;
}
/*Navbar*/
.navbar-menu a {
    color: black;
}
.navbar-menu a:hover {
    color: #00d1b2;
}
#placeholderNav {
    height: 52px;
}

/*Trailer*/

/*Gallery*/
#gallery .box {
    box-shadow: none;
    padding: 0;
}
#gallery img {
    border-radius: 5px;
}

/*Destinations*/

/*Team*/

/*Destinations*/

/*Blog*/

/*Contact*/

#contact {
    background-color: #00d1b2
}

#contact .container {
    padding-left: 20px;
}
